form {
    text-align: right;
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #37474f;
    width: 40%;
    color: #fff;
}

form label {
    margin-right: 5px;
}
form input {
    margin-right: 20px;
    padding: 5px 10px;
}